<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="class_bind.css">
  <title>Document</title>
</head>
<body>
  <div id ='app'>
    <p>
      Hello <span class = "bg-gray text-blue" v-bind:class="{large: isLarge, 'text-danger': hasError}">Vue.js</span>
    </p>
    <p>
      Hello <span v-bind:class="[largeClass,dangerClass]">Array!</span>
    </p>
    <p>
      Hello <span v-bind:class="[classObject]">classObject!</span>
    </p>
    <p>
      Hello <span v-bind:class="[isLarge2 ? largeClass2  : '',dangerClass ]">三項演算子</span>
    </p>
    <p>
      Hello <span v-bind:style="{ color: color, fontSize: fontSize }">stylesheet</span>
    </p>
    <p>
      Hello <span v-bind:style="styleObject">styleObject</span>
    </p>
        
    <p v-if="toggle">
      YES!
    </p>
    <p v-else>
      NO!
    </p>
    <p>
      {{ count }}
    </p>
    <p><button v-on:click="clickHandler(2)">Click!</button></p>
    <p><button v-on:click.once="clickNowTime()">ClickNowTime</button></p>
    {{ message  }}
    <input type="text" v-on:keyup.27="clear" v-model="message">
    <p>
      {{ message }}
    </p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="class_bind.js"></script>
</body>
</html>